<!DOCTYPE html>
<html>
  <head>
    <title>Dokkan3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <div class="header">
      <p class="logo">DOkkAN</p>
      <p class="logo2"> &emsp;  ―読書感想文で新しい発見を。</p>
    </div>
    <ul class="header_list">
      <li>
        <%= link_to("/") do %>

          <span class="fas fa-home"></span>

        <% end %>
      </li>
      <li>
        <%= link_to("/posts/search") do %>

          <span class="fas fa-search"></span>

        <% end %>
      </li>
      <li>
        <%= link_to("/posts/write_form") do %>

          <span class="far fa-edit"></span>

        <% end %>
      </li>
      <% if @current_user %>
      <li><%= link_to(@current_user.name,"/users/#{@current_user.id}/mypage") %></li>
      <% else %>
      <li>
        <%= link_to("/users/login") do %>

        <span class="fas fa-user"></span>

        <% end %>
      </li>
      <% end %>
    </ul>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>

    <div class="top_list">
      <ul>
        <li><%= link_to("ホーム","/") %></li>
        <li><%= link_to("おすすめ","#") %></li>
        <li>
          <%= link_to("ビブリオバトル","/battles/index") %>
        </li>
        <li><%= link_to("イベント","#") %></li>
        <li><%= link_to("サークル","#") %></li>
        <li><%= link_to("本屋","#") %></li>
        <li><%= link_to("人気","#") %></li>
        <li><%= link_to("その他","#") %></li>
      </ul>
    </div>

    <%= yield %>
    <div>
      <%= link_to("/posts/write_form") do %>

        <span class="far fa-edit write_btn"></span>

      <% end %>
    </div>
  </body>
</html>
