<div class="container page_top">
  <h2><%= @player1.name %></h2>
  <%= link_to("p1の紹介文へ", "/battles/#{@battle.id}/p1body") %>

  <h2><%= @player2.name %></h2>
  <%= link_to("p2の紹介文へ", "/battles/#{@battle.id}/p2body") %>
</div>

<% if ((@now.to_time - @updated_at.to_time) / 60 /60 /24).to_i >= 3 %>
<div class="container">
  <h2>投票は終了しました</h2>
  <h3>勝者:<%= @win_player %></h3>
  <% if @win_book %>
  <h3>人が読みたくなった本：<%= @win_book %></h3>
  <% end %>
</div>
<% else %>
<%= form_tag("/points/#{@battle.id}/create") do %>
<div class="container">
  <p>現在の得票数　プレイヤー1：<%= @p1_points %>票 プレイヤー2：<%= @p2_points %>票</p>
  <p>投票期限：<%= @updated_at.to_time %>から3日間</p>
  <select name="winner_id">
    <option value="<%= @battle.p1_id %>"><%= @battle.p1_book %></option>
    <option value="<%= @battle.p2_id %>"><%= @battle.p2_book %></option>
  </select>
  <input type="submit" value="送信する">
</div>
<% end %>
<% end %>
