<div >
  <h2>以下の投稿を本当に削除しますか？</h2>
  <ul>
    <li><%= link_to("いいえ","/posts/#{@post.id}") %></li>
    <li><%= link_to("はい","/posts/#{@post.id}", {method: :delete}) %></li>
  </ul>
  </div>

<div class="container">
  <h2>題名</h2>
  <%= @post.title %>
  <h2>本のタイトル</h2>
  <%= @post.bookname %>
  <h2>本文</h2>
  <%= @post.content %>
  <h2>概要欄</h2>
  <%= @post.explain %>
  <h2>ジャンル</h2>
  <%= @post.janl %>
  <h2>how many read</h2>
  <%=  @post.impressionist_count %>
</div>
