<div class="page_top">
  <%= link_to("ビブリオバトル対戦表へ","/battles/index") %>
</div>
<div class="container">
  <% @posts.each do |post| %>
  <div class="item">
    <h3><%= link_to(post.title,"/posts/#{post.id}") %></h3>
    <p>投稿日:<%= post.created_at %></p>
    <p>作者<%= post.user.name %></p>
    <p>本：<%= post.bookname %></p>
  </div>
  <% end %>
</div>

<div class="container">
  <h2><%= "小説" %></h2>
  <% @novel.each do |post| %>
  <div class="item">
    <h3><%= link_to(post.title,"/posts/#{post.id}") %></h3>
    <p>投稿日:<%= post.created_at %></p>
    <p>作者<%= post.user.name %></p>
    <p>本：<%= post.bookname %></p>


  </div>
  <% end %>
</div>
<div class="container">
  <h2><%= "ビジネス" %></h2>
  <% @business.each do |post| %>
  <div class="item">
    <h3><%= link_to(post.title,"/posts/#{post.id}") %></h3>
    <p>投稿日:<%= post.created_at %></p>
    <p>作者<%= post.user.name %></p>
    <p>本：<%= post.bookname %></p>


  </div>
  <% end %>
</div>

<div class="container">
  <h2><%= "社会" %></h2>
  <% @social.each do |post| %>
  <div class="item">
    <h3><%= link_to(post.title,"/posts/#{post.id}") %></h3>

    <p>投稿日:<%= post.created_at %></p>
    <p>作者<%= post.user.name %></p>
    <p>本：<%= post.bookname %></p>

  </div>
  <% end %>
</div>
<div class="container">
  <h2><%= "趣味" %></h2>
  <% @hobby.each do |post| %>
  <div class="item">
    <h3><%= link_to(post.title,"/posts/#{post.id}") %></h3>

    <p>投稿日:<%= post.created_at %></p>
    <p>作者<%= post.user.name %></p>
    <p>本：<%= post.bookname %></p>

  </div>
  <% end %>
</div>
<div class="container">
  <h2><%= "アート・エンタメ" %></h2>
  <% @art.each do |post| %>
  <div class="item">
    <h3><%= link_to(post.title,"/posts/#{post.id}") %></h3>

    <p>投稿日:<%= post.created_at %></p>
    <p>作者<%= post.user.name %></p>
    <p>本：<%= post.bookname %></p>


  </div>
  <% end %>
</div>
<div class="container">
  <h2><%= "こども" %></h2>
  <% @child.each do |post| %>
  <div class="item">
    <h3><%= link_to(post.title,"/posts/#{post.id}") %></h3>

    <p>投稿日:<%= post.created_at %></p>
    <p>作者<%= post.user.name %></p>
    <p>本：<%= post.bookname %></p>

  </div>
  <% end %>
</div>
